<div *ngIf="roundView" class="container" style="border:1px solid #DCDCDC;">
  <div class="col-md-12 text-center">
    <h6>Score</h6>
  </div>
  <div class="col-md-12 text-center">
    <table style="width:100%">
      <thead>
        <tr>
          <th>Round</th>
          <th>Winner</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let round of rounds">
          <td>{{ idx + 1}}</td>
          <td>{{ round.winnerId == 0 ? 'Draw' : (round.winnerId == p1.id ? p1.name : p2.name)}}</td>
        </tr>        
      </tbody>
    </table>
  </div>
</div>