<div *ngIf="roundView" class="container" style="border:1px solid #DCDCDC;">
  <div class="col-md-12 text-center">
    <h6>Score</h6>
  </div>
  <div class="col-md-12 text-center">
    <table style="width:100%">
      <thead>
        <tr>
          <th>Round</th>
          <th>Winner</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Player 1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Player 2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
